aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
idna==2.10
multidict==6.0.2
pyparsing==3.0.7
requests==2.25.1
requests-toolbelt==0.9.1
typing_extensions==4.1.1
urllib3==1.26.7
yarl==1.7.2
Js2Py==0.71
mcstatus==9.0.2
python-aternos==0.5
